VITE_SUPABASE_URL=supabase.com -> Project Overview -> Copy https://<project-id>.supabase.co
VITE_SUPABASE_ANON_KEY=supabase.com -> Project Settings -> API Keys -> Publishable key
STRIPE_WEBHOOK_SECRET=stripe.com -> webhook -> signing secret
STRIPE_SECRET_KEY=stripe.com -> Developers -> API Keys
